<div class="container my-5">
  <h1><%= t('.create_new_task')%></h1>
</div>

<%= render partial: 'form', locals: { task: @task } %>

<div class="container">
  <%= link_to t('tasks.to_index'), tasks_path %>
</div>